body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
}

#board {
    width: 400px;
    height: 400px;
    border: 2px solid grey; /*solid keyword important*/
    margin: 0 auto; /*will center the board*/
    display: flex; /*will stack tiles accordingly and not let them stack on */
    flex-wrap: wrap;
}

#board img {
    width: 78px; /*as 1 px will be deducted for the border of tiles*/
    height: 78px;
    border: 1px solid green;
    
}

h2 {
    color: white;
}
#pieces {
    width: 1035px;
    height: 160px;
    border: 2px solid grey; /*solid keyword important*/
    margin: 0 auto; /*will center the board*/
    display: flex; /*will stack tiles accordingly and not let them stack on */
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}

#pieces img {
    width: 78px; /*as 1 px will be deducted for the border of tiles*/
    height: 78px;
    border: 1px solid lightblue;
    display: block;
    
}

img {
    touch-action: manipulation;
} 